<router-outlet></router-outlet>

<div style="flex: 1; background-color: #b0e0e6">
  <ngx-extended-pdf-viewer
    aria-atomic="true"
    aria-live="assertive"
    aria-relevant="additions"
    [src]="'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf'"
    [useBrowserLocale]="true"
    [textLayer]="true"
    [showToolbar]="false"
    [enablePinchOnMobile]="true"
    [showBorders]="false"
    [backgroundColor]="'#E6E6FA'"
    [formTheme]="'dark'"
  >
  </ngx-extended-pdf-viewer>
</div>
